# Miscellaneous & System Files
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ / vscode
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Local Environment Variables
.env
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Root Flutter leftovers
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Client (Flutter) Ignored Files
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.pub-cache/
client/.pub/
client/build/
client/coverage/
client/*.iml

# Client Android Studio & Gradle
client/android/.gradle/
client/android/.kotlin/
client/android/local.properties
client/android/app/debug/
client/android/app/profile/
client/android/app/release/
client/android/*.iml

# Client iOS / macOS Ephemeral & Build files
client/ios/Flutter/.last_build_id
client/ios/Flutter/Generated.xcconfig
client/ios/Flutter/flutter_export_environment.sh
client/ios/Runner/GeneratedPluginRegistrant.h
client/ios/Runner/GeneratedPluginRegistrant.m
client/macos/Flutter/ephemeral/
client/macos/Flutter/GeneratedPluginRegistrant.swift

# Client Linux Ephemeral & Build files
client/linux/flutter/ephemeral/

# Client Windows Ephemeral & Build files
client/windows/flutter/ephemeral/

# Symbolication / Obfuscation related
client/app.*.symbols
client/app.*.map.json
